<form v-on:submit.prevent="guardarHombre" data-accion="nuevo" data-idhombre='' id="frm-hombres" method="post">
    <div class="card text-white bg-primary mb-3" style="max-width: 24rem;">
        <div class="card-header">
            Registro masculino
        
            <button type="button" id="btn-close-hombres" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Nombres
                </div>
                <div class="col-8">
                    <input type="text" v-model="hombre.nombre" placeholder="ingresar nombres" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-4">
                    Apellidos
                </div>
                <div class="col-8">
                    <input type="text" v-model="hombre.apellido" placeholder="ingresar apellidos" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Edad
                </div>
                <div class="col-8">
                    <input type="text" v-model="hombre.edad" placeholder="ingresar edad " class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Dui
                </div>
                <div class="col-8">
                    <input type="text" v-model="hombre.dui" placeholder="ingresar dui" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarHombres" type="submit" class="btn btn-outline-danger text-dark" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-dark" value="Limpiar">
                    <input type="button" class="btn btn-outline-success mostrar-buscar-hombres text-dark" data-modulo="hombres" data-form="buscar-hombres" value="Buscar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ hombre.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/hombres/hombres.js"></script>