<form method="POST" id="frm-buscar-urbanas">
    <div class="card text-dark bg-success mb-3" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA DE ZONA URBANA

            <button type="button" id="btn-close-buscar-urbanas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body"> 
            <table id="tbl-buscar-urbanas" class="table-striped table-success table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarUrbana" placeholder="ciudad o avenida" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Municipio</th>
                        <th>Ciudad</th>
                        <th>avenida</th>
                        <th>Descripcion</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="zonau in misurbanas" :key="zonau.idUrbana" v-on:click="modificarUrbana(zonau)">
                        <td>{{ zonau.municipio }}</td>
                        <td>{{ zonau.ciudad }}</td>
                        <td>{{ zonau.avenida}}</td>
                        <td>{{ zonau.descripcion }}</td>
                        <td>
                            <input v-on:click="eliminarUrbana(zonau.idUrbana)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/urbanas/buscar-urbanas.js"></script>