<form method="POST" id="frm-buscar-mujeres">
    <div class="card text-dark bg-success mb-3" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA MUJERES

            <button type="button" id="btn-close-buscar-mujeres" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body"> 
            <table id="tbl-buscar-mujeres" class="table-striped table-success table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarMujer" placeholder="nombre o apellido" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Edad</th>
                        <th>Dui</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="femenino in mismujeres" :key="femenino.idMujer" v-on:click="modificarMujer(femenino)">
                        <td>{{ femenino.nombre }}</td>
                        <td>{{ femenino.apellido }}</td>
                        <td>{{ femenino.edad }}</td>
                        <td>{{ femenino.dui }}</td>
                        <td>
                            <input v-on:click="eliminarMujer(femenino.idMujer)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/mujeres/buscar-mujeres.js"></script>