<form v-on:submit.prevent="guardarRural" data-accion="nuevo" data-idrural='' id="frm-rurales" method="post">
    <div class="card text-white bg-primary mb-3" style="max-width: 24rem;">
        <div class="card-header">
            Zona rural
        
            <button type="button" id="btn-close-rurales" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Municipios
                </div>
                <div class="col-8">
                    <input type="text" v-model="rural.municipio" placeholder="ingresar municipios" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-4">
                    Cantones
                </div>
                <div class="col-8">
                    <input type="text" v-model="rural.canton" placeholder="ingresar canton" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Ccolonias
                </div>
                <div class="col-8">
                    <input type="text" v-model="rural.colonia" placeholder="ingresar colonias " class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Descripcion
                </div>
                <div class="col-8">
                    <input type="text" v-model="rural.descripcion" placeholder="ingresar descripcion" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarRurales" type="submit" class="btn btn-outline-danger text-dark" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-dark" value="Limpiar">
                    <input type="button" class="btn btn-outline-success mostrar-buscar-rurales text-dark" data-modulo="rurales" data-form="buscar-rurales" value="Buscar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ rural.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/rurales/rurales.js"></script>